@import "@/assets/scss/settings";
@import "@/assets/scss/typo";

.section-sign-up {
  &__mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.32);
    opacity: 0;
    visibility: hidden;
    transition: opacity 200ms ease 0ms, visibility 250ms linear 0ms;
    z-index: -1;

    &.active {
      opacity: 1;
      visibility: visible;
      z-index: 2;
      transition: visibility 0ms linear 0ms, opacity 200ms ease 50ms;
    }
  }

  &__wrapper {
    position: relative;
    z-index: 1;

    > * + * {
      @include media-min($pad-mini) {
        margin-top: 60px;
      }

      @include media-max($pad-mini - 1) {
        margin-top: 30px;
      }
    }
  }

  &__header {
    > * + * {
      margin-top: 10px;
    }
  }
}