@import "@/assets/scss/settings";
@import "@/assets/scss/typo";

.sign-up-form {
  &__row {
    &:first-child {
      margin-top: 0px;
    }
  }
  &__row_bottom {
    text-align: center;
  }
  &__column {
    &:first-child {
      margin-top: 0px;
    }
  }

  @include media-min(1px) {
    &__row {
      margin-top: 30px;
    }
    &__column {
      margin-top: 35px;
    }
  }

  @include media-min(768px) {
    &__row {
      margin-top: 40px;
    }
    &__column {
      margin-top: 0px;
    }
  }
}