@import "@/assets/scss/settings";
@import "@/assets/scss/typo";

.row {
  position: relative;

  @include media-min($pad-mini) {
    padding-bottom: 25px;
  }
}

.error {
  > .field {
    & > label {
      color: $error-color;
    }

    & > input {
      border-color: $error-color;
    }
  }

  > .message {
    display: block;
    color: $error-color;
  }
}

.field {
  position: relative;
  font-size: 0;
  line-height: 1;

  & > label {
    position: absolute;
    top: -6px;
    left: 15px;
    display: block;
    padding: 0 5px;
    @include font-size(12,12);
    color: #8d8c8c;
    background-color: #ffffff;
    z-index: 1;
  }

  & > input {
    @include font-main-regular-normal;
    @include font-size(16,16);
    color: #000000;
    display: block;
    width: 100%;
    height: 55px;
    padding: 10px 15px;
    border: 1px solid #b7b7b7;
    border-radius: $button-corner-radius;
    outline: none;
    background-color: transparent;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}

.message {
  display: none;
  padding: 0 15px;
  color: #8d8c8c;
  @include font-size(12,12);

  @include media-min($pad-mini) {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;

    & > span {
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      padding-bottom: 5px;
    }
  }

  @include media-max($pad-mini - 1) {
    margin-top: 5px;
  }
}