html, body {
  position: relative;
  width: 100%;
  height: 100%;
  /*-webkit-touch-callout: none;*/
  /*-webkit-user-select: none;*/
  /*-webkit-tap-highlight-color: rgba(0,0,0,0);*/
  /*-khtml-user-select: none;*/
  /*-moz-user-select: none;*/
  /*-ms-user-select: none;*/
  /*user-select: none;*/
}

body {
  @include font-size(16,22);
  @include font-main-regular-normal;
  letter-spacing: 0;
  color: #000000;
  background-color: #ffffff;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

#app {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
}

ul, ol {
  list-style: none;
}

ul, li {
  list-style-type: none;
}

a, a:visited, a:focus, a:active, a:hover,
button, button:visited, button:focus, button:active, button:hover {
  outline: none !important;
}

a::-moz-focus-inner,
button::-moz-focus-inner {
  outline: none !important;
}

a {
  text-decoration: none;
}

header, article, footer, section, figure {
  display: block;
}

.header, main, .footer {
  display: table-row;
  width: 100%;
}

main {
  position: relative;
  height: 100%;
}

section {
  position: relative;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

input {
  @include placeholder();

  &:-webkit-autofill,
  &:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px #ffffff inset;
    -webkit-text-fill-color: #000000;
  }
}

textarea {
  resize: none;
  height: auto;
  overflow: hidden;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  border: none;
  box-shadow: none;
  border-radius: 0;
  background-color: transparent;
  outline: none;
  color: #000000;
  cursor: pointer;

  &[disabled] {
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
  }

  &--orange {
    width: 100%;
    max-width: 290px;
    height: 40px;
    color: #ffffff;
    @include font-size(20,20);
    @include font-headline-bold-normal;
    background-color: $primary-color;
    border-radius: $button-corner-radius;
    transition: background-color 0.2s ease 0s;

    > span {
      display: block;
      height: 20px;
      overflow: hidden;
    }

    &:hover {
      background-color: $primary-color_hover;
    }

    &[disabled] {
      opacity: 1;
      border-color: #d7d7d7 !important;
      color: #8d8c8c !important;
      background-color: #d7d7d7 !important;
      cursor: default;
    }

    @include media-min($pad-mini) {
      padding: 0 30px;
    }

    @include media-max($pad-mini - 1) {
      padding: 0 15px;
    }
  }

  &--text {
    @include font-main-bold-normal;
    @include font-size(22,22);
    color: $primary-color;
    transition: color 0.2s ease 0s;

    &:hover {
      color: $primary-color_hover;
    }
  }

  &--border {
    width: 100%;
    max-width: 290px;
    height: 40px;
    border: 2px solid $primary-color;
    border-radius: $button-corner-radius;
    @include font-size(20,20);
    @include font-headline-bold-normal;
    color: $primary-color;
    transition: background-color 0.2s ease 0s, border-color 0.2s ease 0s, color 0.2s ease 0s;

    &:hover {
      color: $primary-color_hover;
      border-color: $primary-color_hover;
      background-color: $primary-color_hover_2;
    }

    @include media-min($pad-mini) {
      padding: 0 30px;
    }

    @include media-max($pad-mini - 1) {
      padding: 0 15px;
    }
  }

  &--nav {
    padding: 0;
    width: 24px;
    height: 24px;
    @include link-hover-fill-secondary;
  }

  &--sing-out {
    width: 24px;
    height: 24px;
    @include link-hover-fill-secondary;
  }
}

.main-wrapper {
  padding-top: 65px;
}

.header__wrapper, main > section, .footer__wrapper {
  @include media-min(768px) {
    padding-left: 10px;
    padding-right: 10px;
  }

  @include media-min(1024px) {
    padding-left: 25px;
    padding-right: 25px;
  }

  @include media-min(1680px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}

.section {
  @include media-min($pad-mini) {
    padding-top: 65px;
    padding-bottom: 65px;
  }

  @include media-max($pad-mini - 1) {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  &:first-child {
    @include media-min($pad-mini) {
      margin-top: 65px;
    }

    @include media-max($pad-mini - 1) {
      margin-top: 35px;
    }
  }

  &:last-child {
    @include media-min($pad-mini) {
      margin-bottom: 65px;
    }

    @include media-max($pad-mini - 1) {
      margin-bottom: 35px;
    }
  }

  + .section-bg {
    @include media-min($pad-mini) {
      margin-top: 65px;
    }

    @include media-max($pad-mini - 1) {
      margin-top: 35px;
    }
  }
}

.section-bg {
  @include media-min($pad-mini) {
    padding-top: 130px;
    padding-bottom: 130px;
  }

  @include media-max($pad-mini - 1) {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  + .section {
    @include media-min($pad-mini) {
      margin-top: 65px;
    }

    @include media-max($pad-mini - 1) {
      margin-top: 35px;
    }
  }
}