@import "@/assets/scss/settings";
@import "@/assets/scss/typo";

.notification {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease 0ms, visibility 250ms linear 0ms;
  z-index: -1;
}

.visible {
  opacity: 1;
  visibility: visible;
  z-index: 11;
  transition: visibility 0ms linear 0ms, opacity 200ms ease 50ms;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.32);
  z-index: 1;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 290px;
  padding: 25px;
  border-radius: $button-corner-radius;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
  overflow: hidden;
  z-index: 2;
}

.header {}

.body {
  &:not(:first-child) {
    margin-top: 10px;
  }
}

.footer {
  text-align: right;

  &:not(:first-child) {
    margin-top: 40px;
  }
}

.title {
  @include font-size(22,24);
  @include font-headline-semi-bold-normal;
}

.message {
  @include font-size(16,22);
}