@import "@/assets/scss/settings";
@import "@/assets/scss/typo";

.section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $secondary-color;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}