@import "@/assets/scss/settings";
@import "@/assets/scss/typo";

.row {
  position: relative;

  @include media-min($pad-mini) {
    padding-bottom: 25px;
  }
}

.field {
  position: relative;
  font-size: 0;
  line-height: 1;
  height: 55px;
  padding-right: 130px;
  border: 1px solid #b7b7b7;
  border-radius: $button-corner-radius;

  & > button {
    position: absolute;
    top: -1px;
    right: -1px;
    height: calc(100% + 2px);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    @include media-min($pad-mini) {
      max-width: 130px;

      & > span {
        display: block;
      }

      & > svg {
        display: none;
      }
    }

    @include media-max($pad-mini - 1) {
      max-width: 55px;

      & > span {
        display: none;
      }

      & > svg {
        display: block;
      }
    }
  }

  & > input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0;
    padding: 0;
    z-index: -1;
  }
}

.title {
  display: flex;
  width: 100%;
  height: 100%;
  flex-flow: row;
  align-items: center;
  padding: 10px 15px;
  @include font-size(16,16);
  color: #8d8c8c;

  & > span {
    display: block;
    height: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.error {
  > .field {
    border-color: $error-color;
  }

  > .message {
    color: $error-color;
  }
}

.message {
  padding: 0 15px;
  color: #8d8c8c;
  @include font-size(12,12);

  @include media-min($pad-mini) {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;

    & > span {
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      padding-bottom: 5px;
    }
  }

  @include media-max($pad-mini - 1) {
    margin-top: 5px;
  }
}