@import "@/assets/scss/settings";
@import "@/assets/scss/typo";

.section-relationships {
  &__row {
    @include media-min-max($pad-mini, $pad - 1) {
      padding-left: 5%;
      padding-right: 5%;
    }
  }

  &__row + &__row {
    @include media-min($pad-mini) {
      margin-top: 50px;
    }

    @include media-max($pad-mini - 1) {
      margin-top: 30px;
    }
  }

  &__column + &__column {
    @include media-min-max($pad-mini, $pad - 1) {
      margin-top: 40px;
    }

    @include media-max($pad-mini - 1) {
      margin-top: 30px;
    }
  }
}