@import "@/assets/scss/settings";
@import "@/assets/scss/typo";

.relationships-item {
  @include media-max($pad-mini - 1) {
    text-align: center;
  }

  &__column + &__column {
    @include media-min($pad) {
      margin-top: 15px;
    }

    @include media-max($pad-mini - 1) {
      margin-top: 15px;
    }
  }

  &__image {
    display: flex;
    align-items: center;
    font-size: 0;
    line-height: 1;
    margin: 0;
    padding: 0;

    @include media-min-max($pad-mini, $pad - 1) {
      height: 100%;
    }

    @include media-min($pad) {
      height: 115px;
    }

    @include media-max($pad-mini - 1) {
      justify-content: center;
    }

    > img {
      width: auto;
      max-height: inherit;
    }
  }

  &__title {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    @extend .heading-3;

    @include media-min($pad-mini) {
      height: 30px;
    }
  }

  &__article + &__article {
    margin-top: 10px;
  }
}