@import "@/assets/scss/settings";
@import "@/assets/scss/typo";

.section-users {
  &__header {
    text-align: center;

    > * + * {
      margin-top: 10px;
    }
  }

  &__container {
    > * + * {
      margin-top: 15px;

      @include media-min($pad-mini) {
        padding-top: 15px;
      }
    }
  }
}