@import "@/assets/scss/settings";
@import "@/assets/scss/typo";

.users-list {
  > * + * {
    @include media-min($pad-mini) {
      margin-top: 30px;
    }

    @include media-max($pad-mini - 1) {
      margin-top: 15px;
    }
  }

  &__column {
    @include media-min($pad-mini) {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    @include media-max($pad-mini - 1) {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }

  &__footer {
    text-align: center;
  }
}