@import "@/assets/scss/settings";
@import "@/assets/scss/typo";

.users-item {
  position: relative;

  @include media-min($desktop-mini) {
    text-align: left;
    padding-top: 20px;
    padding-left: 80px;
  }

  @include media-max($desktop-mini - 1) {
    text-align: center;
  }

  &__image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #c0c0c0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;

    @include media-min($desktop-mini) {
      position: absolute;
      top: 0;
      left: 0;
    }

    @include media-max($desktop-mini - 1) {
      margin-bottom: 10px;
    }
  }

  &__title {
    @extend .heading-4;
    word-break: break-all;
  }

  &__description {
    @extend .paragraph-3;
    word-break: break-all;

    &:not(:first-child) {
      margin-top: 5px;
    }
  }
}