@import "@/assets/scss/settings";
@import "@/assets/scss/typo";

.section-about {
  @include media-max($pad-mini - 1px) {
    margin-top: 70px;
    text-align: center;

    &:last-child {
      padding-bottom: 70px;
    }
  }

  &__row {
    &:first-child &__column {
      margin-top: 0;
    }

    &:not(:first-child) {
      @include media-max($pad-mini - 1px) {
        margin-top: 30px;
      }

      @include media-min($pad-mini) {
        margin-top: 40px;
      }
    }
  }

  &__column {
    &:not(:first-child) {
      @include media-max($pad-mini - 1px) {
        margin-top: 30px;
      }
    }
  }

  &__image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 0;
    line-height: 1;

    @include media-max($pad-mini - 1px) {
      max-width: 220px;
    }

    @include media-min($pad-mini) {
      max-width: 100%;
    }
  }

  &__content {
    padding-left: 15px;

    > footer {
      &:not(:first-child) {
        margin-top: 15px;
      }
    }
  }
}