@import "@/assets/scss/settings";
@import "@/assets/scss/typo";

.select {
  position: relative;
  font-size: 0;
  line-height: 1;
}

.visible {
  > .body {
    display: block;
  }
}

.error {
  > .header {
    border-color: $error-color;
  }
}

.header {
  display: flex;
  flex-flow: row;
  align-items: center;
  width: 100%;
  height: 55px;
  border: 1px solid #b7b7b7;
  border-radius: $button-corner-radius;
  padding: 10px 45px 10px 15px;
  @include font-size(16,16);
  color: #8d8c8c;
  cursor: pointer;
}

.title {
  display: block;
  height: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);

  > svg {
    width: 16px;
    height: auto;
  }
}

.body {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 3px 8px rgba(1,1,1, 0.24);
  border-radius: $button-corner-radius;
  overflow: hidden;
  z-index: 1;
}

.list {
  @include font-size(16,16);

  > li {
    display: flex;
    width: 100%;
    height: 50px;
    flex-flow: row;
    align-items: center;
    padding: 5px 15px;
    background-color: #ffffff;
    transition: background-color 0.2s ease 0s;
    cursor: pointer;

    &:hover {
      background-color: rgba(239,108,0, 0.2);
    }

    & > span {
      display: block;
      height: 18px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}