@import "@/assets/scss/settings";
@import "@/assets/scss/typo";

.section-requirements {
  color: #ffffff;

  @include media-max($pad-mini - 1) {
    text-align: center;
  }

  h2, .article {
    color: #ffffff;
  }

  &__row {
    position: relative;
    z-index: 2;

    @include media-max($pad-mini - 1) {
      flex-flow: column-reverse;
    }
  }

  &__row + &__row {
    @include media-min($pad-mini) {
      margin-top: 40px;
    }

    @include media-max($pad-mini - 1) {
      margin-top: 30px;
    }
  }

  &__column + &__column {
    @include media-max($pad-mini - 1) {
      margin-bottom: 30px;
    }
  }

  &__image {
    display: block;
    width: 100%;
    font-size: 0;
    line-height: 1;
    margin: 0 auto;
    padding: 0;
    text-align: center;

    @include media-max($pad-mini - 1) {
      max-width: 260px;
    }
  }
}