@import "@/assets/scss/settings";
@import "@/assets/scss/typo";

.header-profile {
  font-size: 0;

  @include media-max($desktop-mini - 1) {
    display: flex;
    flex-flow: column-reverse;
  }

  &.loading {
    opacity: 0.1;
    pointer-events: none;
  }

  &__column {
    display: inline-block;
    vertical-align: middle;
    @include font-size(16,16);

    @include media-min($desktop-mini) {
      &:not(:last-child) {
        margin-right: 15px;
      }
    }

    &.column--left {
      text-align: right;

      @include media-min($desktop-mini) {
        max-width: 120px;
      }

      @include media-max($desktop-mini - 1) {
        text-align: left;
        margin-top: 20px;
      }

      > * + * {
        margin-top: 5px;
      }
    }

    &.column--right {
      @include media-max($desktop-mini - 1) {
        display: none;
      }
    }
  }

  &__name {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    @include font-size(14,16);

    @include media-min($desktop-mini) {
      height: 16px;
    }

    @include media-max($desktop-mini - 1) {
      @include font-size(20,22);
    }
  }

  &__email {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    @include font-size(12,12);
    color: #8d8c8c;

    @include media-min($desktop-mini) {
      height: 12px;
    }
  }

  &__image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #e1e1e1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;

    @include media-max($desktop-mini - 1) {
      width: 70px;
      height: 70px;
    }
  }
}