@import "@/assets/scss/settings";
@import "@/assets/scss/typo";

.header-menu {
  font-size: 0;

  &__item {
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      display: none;
    }
  }

  &__button {
    @include font-size(16,16);
    @include link-hover-color;
  }

  @include media-max($desktop-mini - 1) {
    &__item {
      display: block;
      margin-top: 30px;
      margin-left: 0;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        display: block;
      }
    }
  }
}