@import "@/assets/scss/settings";
@import "@/assets/scss/typo";

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  z-index: 9;

  &-nav--visible {
    .header {
      &__desktop {
        transform: translate(0%, 0%);
      }

      &__mask {
        opacity: 1;
        visibility: visible;
        pointer-events: inherit;
        transition: visibility 0ms linear 0ms, opacity 200ms ease 50ms;
      }
    }
  }

  &__wrapper {
    height: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid #e1e1e1;

    > .container {
      height: 100%;
    }
  }

  &__desktop {
    height: 100%;

    @include media-max($desktop-mini - 1) {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      max-width: 260px;
      transform: translate(-100%, 0%);
      transition: transform 300ms ease-out 0ms;
      z-index: 10;
    }

    @include media-max($pad-mini - 1) {
      max-width: 250px;
    }

    &-content {
      height: 100%;

      @include media-max($desktop-mini - 1) {
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        background-color: #ffffff;
      }
    }

    .header {
      &__row {
        @include media-max($desktop-mini - 1) {
          align-items: inherit;
          flex-flow: column-reverse;
          height: auto;
          margin: 0;
        }
      }

      &__col {
        @include media-max($desktop-mini - 1) {
          flex: 0 0 100%;
          max-width: 100%;
          height: auto;
          padding: 30px;

          &.col--left {
            display: none;
          }

          &.col--center,
          &.col--right {
            text-align: left;
          }

          &.col--center {
            border-top: 1px solid #e1e1e1;
          }
        }
      }
    }
  }

  &__mobile {
    height: 100%;

    @include media-min($desktop-mini) {
      display: none;
    }
  }

  &__row {
    height: 100%;
    align-items: center;
  }

  &__col {
    &.col--left {
      text-align: left;
    }

    &.col--center {
      text-align: center;
    }

    &.col--right {
      text-align: right;
    }
  }

  &__mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.32);
    font-size: 0;
    line-height: 1;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 200ms ease 0ms, visibility 250ms linear 0ms;
    z-index: 9;
  }

  &__logo {
    font-size: 0;
    line-height: 1;
  }
}