@import "@/assets/scss/settings";
@import "@/assets/scss/typo";

.footer-site-menu {
  column-count: 4;
  column-gap: 30px;
  column-width: 25%;
  line-height: 1.9;

  &__item {
    display: block;
    width: 100%;

    & > a {
      @include font-size(16,22);
      @include link-hover-color;
    }
  }
}