@import "@/assets/scss/settings";
@import "@/assets/scss/typo";

.footer-social {
  font-size: 0;
  line-height: 1;

  &__item {
    display: inline-block;
    vertical-align: middle;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__button {
    display: block;
    @include link-hover-fill-primary;
  }
}