@import "@/assets/scss/settings";
@import "@/assets/scss/typo";

.footer-menu {
  font-size: 0;

  &__item {
    &:last-child {
      display: none;
    }

    @include media-min($pad-mini) {
      display: inline-block;
      vertical-align: middle;

      &:not(:first-child) {
        margin-left: 30px;
      }
    }

    @include media-max($pad-mini - 1) {
      display: block;

      &:not(:first-child) {
        margin-top: 15px;
      }
    }
  }

  &__button {
    @include font-size(16, 20);
    @include link-hover-color;
    color: #ffffff;
  }
}