@import "@/assets/scss/settings";
@import "@/assets/scss/typo";

.footer-contact {
  &__item {
    display: block;

    @include media-max($pad-mini - 1) {
      &:not(:first-child) {
        margin-top: 10px;
      }
    }

    @include media-min($pad-mini) {
      &:not(:first-child) {
        margin-top: 20px;
      }
    }
  }

  &__button {
    @include link-hover-fill-primary;

    > .button {
      &--icon, &--title {
        vertical-align: middle;

        &:not(:last-child) {
          margin-right: 10px;
        }
      }

      &--icon {
        @include media-max($pad-mini - 1) {
          display: none;
        }

        @include media-min($pad-mini) {
          display: inline-block;
          width: 25px;
          font-size: 0;
          line-height: 1;
        }
      }

      &--title {
        display: inline-block;
        @extend .paragraph-0;
        line-height: 1;

        @include media-max($pad-mini - 1) {
          @include font-size(18,24);
        }
      }
    }
  }
}