@import "@/assets/scss/settings";
@import "@/assets/scss/typo";

.footer {
  color: #ffffff;
  background-color: $secondary-color;

  @include media-max($pad-mini - 1) {
    text-align: center;
  }

  a {
    color: #ffffff;
  }

  &__wrapper {
    padding-bottom: 30px;
  }

  &__row {
    position: relative;

    &:not(:first-child) {
      margin-top: 30px;
    }

    &.row {
      &--top {
        align-items: center;

        @include media-min($pad-mini) {
          height: 80px;
        }

        @include media-max($pad-mini - 1) {
          padding-top: 30px;
        }
      }

      &--middle {
        padding-top: 30px;
        border-top: 1px solid #5f5fc4;

        @include media-min($pad-mini) {
          margin-top: 0;

          &:before, &:after {
            content: "";
            position: absolute;
            top: -1px;
            width: 15px;
            height: 1px;
            background-color: $secondary-color;
          }

          &:before {
            left: 0;
          }

          &:after {
            right: 0;
          }
        }
      }

      &--bottom {
        align-items: center;

        @include media-min($pad-mini) {
          flex-flow: row;
        }

        @include media-max($pad-mini - 1) {
          flex-flow: column-reverse;
        }

        > .footer__column {
          @include media-max($pad-mini - 1) {
            &:not(:first-child) {
              margin-bottom: 20px;
            }
          }
        }
      }
    }
  }

  &__column {
    @include media-max($pad-mini - 1) {
      &:not(:first-child) {
        margin-top: 20px;
      }
    }

    &.column {
      &--left {
        @include media-min($pad-mini) {
          text-align: left;
        }
      }

      &--right {
        @include media-min($pad-mini) {
          text-align: right;
        }
      }
    }
  }

  &__logo {
    font-size: 0;
    line-height: 1;

    > a > svg > path, > svg > path {
      fill: #ffffff;
    }
  }

  &__copyright {
    @include font-size(12, 12);
  }
}