@import "@/assets/scss/settings";
@import "@/assets/scss/typo";

.section-banner {
  text-align: center;
  color: #ffffff;

  @include media-min($pad-mini) {
    text-align: left;
  }

  &__micro {
    position: relative;
    z-index: 2;

    > * + * {
      @include media-min(768px) {
        margin-top: 30px;
      }

      @include media-max($pad-mini - 1) {
        margin-top: 10px;
      }
    }

    > article {
      @extend .paragraph-0;

      > * + * {
        @include media-min($pad-mini) {
          margin-top: 30px;
        }

        @include media-max($pad-mini - 1) {
          margin-top: 10px;
        }
      }

      > h1 {
        color: #ffffff;
      }
    }
  }
}